/*  
Skin Name: Red
Version: 1.0
Description: Skin for Flat
*/

#headerwrap,
#respond #cancel-comment-reply-link,
.post-nav span span,
.pagenav a,
.post .carousel-pager .selected,
.slider .carousel-pager .selected,
.module-slider .carousel-pager a.selected,
.back-top a,
.skillset li span{
	background: #e74c3c !important;
}
.back-top a:hover {
	background: #FF6656 !important;
}

#main-nav ul a:hover, 
#main-nav .current_page_item ul a:hover, 
#main-nav ul .current_page_item a:hover, 
#main-nav .current-menu-item ul a:hover, 
#main-nav ul .current-menu-item a:hover,
.timeline .timeline-dot {
	color: #e74c3c;
}
#main-nav ul ul:before {
	border-right: 8px solid #e74c3c;
}
#main-nav a,
#site-logo a,
#site-description {
	color: #fff;
}
#main-nav a:hover {
	color: #000;
}