//origin css.
%extend_1 {
	font-family: Raleway, sans-serif;
	font-weight: normal;
	color: #444;

}

//original selectors
//.btn-lg, .btn-group-lg > .btn
%extend_2 {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.33;
	padding: 15px 30px;
}

//original selectors
//.footer-note p, .footer-note a
%extend_3 {
	color: #8cddcd;
	font-weight: 300;
	font-size: 13px;
}


body {
	font-family: Roboto, sans-serif;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
.img-center {
	margin: 0 auto;
}
.spacer-25px {
	background: none !important;
	height: 25px;
}
.spacer-50px {
	background: none !important;
	height: 50px;
}
.spacer-100px {
	background: none !important;
	height: 100px;
}
.btn-lg {
	@extend %extend_2;
}
.btn-primary {
	background-color: #2ecc71;
	border-bottom: 3px solid #24a35a;
	border-color: #24a35a;
	color: #fff;
	&:hover {
		background-color: #29b765;
		border-bottom: 3px solid #208e4f;
		border-color: #208e4f;
		color: #fff;
	}
}
.btn-primary-alt {
	background-color: #2c3e50;
	border-bottom: 3px solid #233140;
	border-color: #233140;
	color: #fff;
	&:hover {
		background-color: #273748;
		border-bottom: 3px solid #1e2b38;
		border-color: #1e2b38;
		color: #fff;
	}
}
.btn-secondary {
	background-color: #94a3a8;
	border-bottom: 3px solid #768286;
	border-color: #768286;
	color: #fff;
	&:hover {
		background-color: #859297;
		border-bottom: 3px solid #677275;
		border-color: #677275;
		color: #fff;
	}
}
#header {
	background: url("../images/hero-bg.jpg") 100% 0 no-repeat;
	background-size: cover;
	min-height: 600px;
}
.navbar-default {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	margin-bottom: 0;
	.navbar-brand {
		color: #444;
		font-size: 32px;
		&:hover {
			color: #444;
			font-size: 32px;
		}
		i {
			font-size: 40px;
		}
	}
	.navbar-toggle {
		border: none;
		color: #444;
		&:hover {
			background-color: rgba(0, 0, 0, 0);
			color: #111;
		}
		&:focus {
			background-color: rgba(0, 0, 0, 0);
			color: #111;
		}
	}
	.navbar-nav > li > a {
		color: #444;
		text-transform: uppercase;
		&:hover {
			color: #111;
		}
		&:focus {
			color: #111;
		}
		&:active {
			color: #111;
		}
		&.active {
			color: #111;
		}
	}
}
.navbar-nav {
	padding-top: 20px;
	> li > a {
		padding-bottom: 10px;
		padding-top: 10px;
	}
}
.navbar-right {
	padding-top: 20px;
}
.sign-in {
	background-color: rgba(255, 255, 255, 0.5);
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 4px;
	color: #444;
}
.hero {
	padding-top: 100px;
	h2 {
		font-size: 50px;
	}
	p {
		color: #777;
		font-size: 24px;
	}
}
.hero-intro {
	.success-message {
		color: #777;
		font-size: 16px;
	}
	.error-message {
		color: #777;
		font-size: 16px;
	}
	.form-control {
		background: rgba(255, 255, 255, 0.5);
	}
}
.hero-buttons {
	margin-top: 50px;
}
#features {
	background: #fff;
	padding: 125px 0;
	p {
		color: #999;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.8em;
	}
}
.features-item-text {
	padding-top: 25px;
}
.features-item-link {
	margin-top: 25px;
	> {
		a {
			color: #444;
			font-size: 16px;
			line-height: 1.8em;
			&:hover {
				color: #2ecc71;
				text-decoration: none;
			}
		}
		i {
			color: #c9d1d3;
			padding-left: 10px;
		}
	}
}
#pricing {
	background: #fafafa;
	padding: 125px 0;
	h2 {
		color: #444;
		font-size: 50px;
		margin-bottom: 25px;
	}
	p {
		color: #999;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.8em;
	}
}
.pricing-item {
	background: #fff;
	border-bottom: 5px solid #ccc;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 10px;
	padding: 25px;
	h3 {
		font-size: 32px;
		margin-bottom: 25px;
	}
	li {
		color: #999;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.8em;
		padding: 15px 0;
	}
	i {
		color: #2ecc71;
		font-size: 18px;
		padding-right: 10px;
	}
}
.pricing-item-buttons {
	margin-top: 25px;
}
.pricing-item-price-basic {
	font-size: 32px;
}
.pricing-item-price-pro {
	font-size: 32px;
}
.pricing-free-trial-link {
	background: #fafafa;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 25px;
	cursor: default;
	margin-left: 25px;
	text-transform: uppercase;
	padding: 5px 10px;
	&:hover {
		text-decoration: none;
	}
}
.small-text {
	font-size: 14px;
	color: #ccc;
	a {
		font-size: 14px;
		color: #ccc;
		text-decoration: underline;
	}
}
.small-text-2 {
	font-size: 12px;
	color: #1abc9c;
}
#clients {
	background: #fff;
	padding: 125px 0;
	h2 {
		font-size: 50px;
		margin-bottom: 25px;
	}
	p {
		color: #999;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.8em;
	}
	blockquote {
		border-left: none !important;
		border-bottom: 3px solid #ddd;
	}
}
.clients-icon {
	margin-top: 50px;
	margin-bottom: 75px;
}
.testimonials-author {
	margin: 25px 0 0 28px;
	a {
		font-size: 15px;
		font-weight: 700;
		padding-left: 10px;
	}
}
.author-link {
	font-size: 13px;
	font-weight: 300;
}
#footer {
	background: #fff;
	border-top: 1px solid #eee;
	padding: 25px 0;
}
.footer-note {
	p {
		@extend %extend_3;
	}
	a {
		@extend %extend_3;
	}
}
.footer-social {
	text-align: right;
	li {
		padding: 0;
		> a {
			background: #8cddcd;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 50%;
			color: #fff;
			display: block;
			width: 25px;
			height: 25px;
			padding: 3px;
			text-align: center;
		}
	}
}
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 7px;
	right: 10px;
	display: none;
}
.modal-content {
	background: #fff;
	font-family: Varela Round, sans-serif;
	margin: 0 auto;
	width: 100%;
}
.modal-header {
	border-bottom: none;
}
.form-control {
	background-color: #eee;
	background-image: none !important;
	border: 0 solid transparent;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 6px;
	color: #1abc9c;
	display: block;
	font-size: 14px;
	height: 55px;
	line-height: 1.42857;
	padding: 6px 12px;
	&:focus {
		background-color: #fff;
		border: 3px solid #eee;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none !important;
		color: #1abc9c;
	}
}
.forgot-password {
	padding-left: 25px;
}
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #333 url("../images/loader.gif") no-repeat center center;
}
@media(min-width: 1200px) {
	.container {
		width: 980px;
	}
}
@media(min-width: 320px) and(max-width: 640px) {
	#header {
		background: url("../images/hero-bg.jpg") 25% 30% no-repeat;
		background-size: cover;
		min-height: 400px;
	}
	.hero {
		padding-top: 0;
		padding-bottom: 50px;
	}
	#features {
		padding: 25px 0 70px;
	}
	#pricing {
		padding: 50px 0;
	}
	.pricing-item {
		margin: 10px 0;
	}
	#clients {
		padding: 50px 0;
	}
	.clients-testimonials {
		margin: 20px 0;
	}
	.footer-note {
		text-align: center;
	}
	.footer-social {
		text-align: center;
	}
	.hero-buttons a {
		padding: 15px;
	}
}
@media(min-width: 600px) and(max-width: 640px) {
	.hero-intro {
		width: 50%;
		h2 {
			font-size: 26px;
		}
		p {
			font-size: 16px;
		}
	}
}
.btn-group-lg > .btn {
	@extend %extend_2;
}
p.testimonials {
	background: #fafafa;
	border-bottom: 3px solid #ccc;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 6px;
	color: #999;
	font-style: italic;
	margin: 0;
	padding: 25px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 25px;
		border-width: 20px 20px 0 20px;
		border-style: solid;
		border-color: #ccc transparent;
		display: block;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 30px;
		border-width: 15px 15px 0 15px;
		border-style: solid;
		border-color: #fafafa transparent;
		display: block;
	}
}
h1 {
	margin-top: 0;
}
h2 {
	margin-top: 0;
}
h3 {
	margin-top: 0;
}
h4 {
	margin-top: 0;
}
h5 {
	margin-top: 0;
}
h6 {
	margin-top: 0;
}
.btn-4-lg {
	padding: 48px 20px;
}
.color {
	color: #2980b9;
}
.section-heading {
	margin-bottom: 50px;
	h2 {
		text-transform: uppercase;
	}
}
#header-4 {
	background: #fff;
	padding: 25px 0;
}
#hero-4 {
		background: url(../images/landing-banner-bg.jpg) no-repeat center center;
	background-size:cover;
	height:100%;
	width:100%;

	-webkit-transition: all 600ms linear !important;
-moz-transition: all 600ms linear !important;
-o-transition: all 600ms linear !important;
-ms-transition: all 600ms linear !important;
transition: all 600ms linear !important;
}


#hero-4 .widget-area { padding: 100px 0;height: 100%; 	max-height:2000px;
	min-height:800px;background-image: linear-gradient( 0deg, rgba(215,98,35,0.75) 0%, rgba(81,160,131,0.75) 0%, rgba(32,99,156,0.75) 100%); background-image: -moz-linear-gradient( 0deg, rgba(215,98,35,0.75) 0%, rgba(81,160,131,0.75) 0%, rgba(32,99,156,0.75) 100%); background-image: -webkit-linear-gradient( 0deg, rgba(215,98,35,0.75) 0%, rgba(81,160,131,0.75) 0%, rgba(32,99,156,0.75) 100%); background-image: -ms-linear-gradient( 0deg, rgba(215,98,35,0.75) 0%, rgba(81,160,131,0.75) 0%, rgba(32,99,156,0.75) 100%); }

.hero-4-form {
	background: #2980b9;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 6px;
	color: #fff;
	padding: 25px;
	h3 {
		border-bottom: 1px solid #fff;
		display: inline-block;
		font-size: 23px;
		margin-top: 0;
		margin-bottom: 25px;
		padding-bottom: 15px;
		text-transform: uppercase;
	}
	.form-group {
		margin-right: 110px;
	}
}
.hero-4-form-btn {
	font-size: 18px;
	float: right;
	margin-top: -140px;
}
@media(min-width: 1200px) {
	.container {
		width: 980px;
	}
}
@media(min-width: 320px) and(max-width: 480px) {
	#hero-4 {
		padding: 50px 0;
	}
	.header-4-logo h1 {
		font-size: 30px;
	}
	.hero-4-intro h2 {
		font-size: 24px;
	}
}
.header-4-logo h1 {
	color: #fff;
	font-weight: 300;
}
.header-4-social > ul > li > a {
	background: #222;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	height: 45px;
	padding-top: 10px;
	width: 45px;
	text-align: center;
	&:hover {
		background: #111;
	}
	&:focus {
		background: #111;
	}
}
.hero-4-intro h2 {
	font-size: 50px;
	text-transform: uppercase;
}

.skip-link {
	display:none;
}

.page, #page {
	height: 100% !important;
}

.page {


}